{% block header %}
    <!--Шапка-->
    <header>
		<div class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="row">

                    <!--логотип и кнопка раздвижения меню-->
                    <div class="col-sm-4">
	        		<div class="navbar-header">
	        			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					        <span class="sr-only">Toggle navigation</span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					    </button>
					    <a class="navbar-brand" href="#">Гном Джо (в работе)</a>
	        		</div>
	        		</div>

	        		<!--навигационое меню сайта -->
	        		<div class="col-sm-8">
			        <div class="collapse navbar-collapse">
			        <ul class="nav  nav-pills nav-justified navMenu">
			            <li class=""><a href="/">Новости</a></li>
			            <li><a href="/about/">О нас</a></li>

                        {% if perms.ShopApp %} 
                        <li class="">
                            <a href="{% url 'ShopApp:index' %}">
                                <i class="" aria-hidden="true"></i> Учет посетителей
                            </a>
                        </li>                               
                        <li class="">
                            <a href="{% url 'ShopApp:charts' %}">
                                <i class="" aria-hidden="true"></i> Анализ посещений
                            </a>
                        </li>
                        {% endif %}

                        {% if user.is_authenticated %}
                        <li>                            
                                <a href="{% url 'registration:profile' %}">Личный кабинет {{user.username}}</a>
                        </li>
                        <li class="">
                                <a href="{% url 'registration:logout' %}">Выход</a> 
                        </li>
                        {% else %} 
                        <li>                                    
                            <a href="{% url 'registration:login' %}">Войдите</a>
                        </li>
                        <li class="">
                            <a href="{% url 'registration:reg' %}">Зарегистрируйтесь</a>
                        </li>
                        {% endif %}

<!-- 			            <li class="dropdown">
				            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
				            <ul class="dropdown-menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else here</a></li>
								<li class="divider"></li>
								<li class="dropdown-header">Nav header</li>
								<li><a href="#">Separated link</a></li>
								<li><a href="#">One more separated link</a></li>
				            </ul>
			            </li> -->
			        </ul>
			        </div>
				    </div>
			    </div>
        	</div>
        </div>
    </header>
{% endblock %}