{% extends 'project/base.html' %}
{% load static %}
{% block content %}

<div class="container">
	<div class="row">
		<h1>Новости</h1>
		{% for post in News %}
		    <div class="post">
		        <a href="/news/{{ post.pk }}"><h2>{{ post.title }}</h2></a>
                <p id='username'>{{ post.author.username }}</p>
                <a href="/news/{{ post.pk }}">
                	<img alt="{{post.title}}" src="/media/{{ post.image }}" style="width:50%">
                </a>
                <br>
		        <p style="margin: 20px; width:50%">{{ post.text|linebreaksbr }}</p>
		        <p>Опубликовано: {{ post.created_date }}</p>
		    </div>
		{% endfor %}
	</div>
    {% if News.has_previous %}
        <a href="?page={{ News.previous_page_number }}">Назад</a>
    {% endif %}
    Страница {{ News.number }} из {{ News.paginator.num_pages }}
    {% if News.has_next %}
        <a href="?page={{ News.next_page_number }}">Вперед</a>
    {% endif %}
</div>

{% endblock %}
