{% extends 'project/base.html'%}
{% block  content %}
    <h3>{{ post.title }}</h3>
    <p>{{ post.author.username }}</p>
    <img src="/media/{{ post.image }}">
    <p>{{post.text}}</p>
    <p>{{ post.published_date|date:"d-m-Y"}}</p>
    {% for comment in comments %}
        <p>{{ comment.author }}</p>
        <p>{{ comment.text }}</p>
    {% endfor %}
    {% if user.is_authenticated %}
        <form method="post">
        {% csrf_token %}
        <p><textarea name="text" title="text"></textarea></p><p>
            <button type="submit">Комментировать</button></p>
        </form>
    {% else %}
        <p>Только зарегестрированные умеют комментировать</p>
    {% endif %}
{% endblock %}