{% extends 'project/base.html' %}
{% load static %}
{% block content %}


<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<h3>Продажа товара</h3>
			{% for error in form.non_field_errors %}
				<span class="error-message">{{ error }}</span>
			{% endfor %}
			<form method="POST" class="form-horizontal">{% csrf_token %}
				<div class="row">
					<div class="col-sm-8" style="padding: 1px;">
						<label for="id_client">Клиент:</label>
					</div>
					<div class="col-sm-8" style="padding: 1px;">
						<input name="id_client" required id="id_id_client">
						<div class="clients_list"></div>
					</div>
					<div class="col-sm-8" style="padding: 1px;">
						<label for="id_product">Товар:</label>
					</div>
					<div class="col-sm-8" style="padding: 1px;">
						<input name="id_product" required id="id_id_product">
						<div class="product_list"></div>
					</div>
					<div class="col-sm-8" style="padding: 1px;">
						<label for="note">Примечание:</label>
					</div>
					<div class="col-sm-8" style="padding: 1px;">
						{{form.Note}}
					</div>
					<div class="col-sm-8" style="padding: 5px;">
						<button type="submit" class="btn btn-large save">Добавить</button>
					</div>
				</div>
			</form>
		</div>
		<div class="col-sm-12">
			<div class="row">
				<div class="col-sm-6 ">
					<h3>Выбрать клиента</h3>
					<div class="layer">
						<table class="table table-bordered">
						<tr class="tableHead">
							<td>Имя</td>
							<td>Ссылка на сайт</td>
							<td>Дата рождения</td>
						</tr>
						{% for client in Clients %}
						<tr class="visitor-row" id="{{client.id}}">
							<td class="visitor-login">{{client.ShortName}}</td>
							<td>{{client.Site}}</td>
							<td>{{client.Birthdate}}</td>

						</tr>
						{% endfor %}
					</table>
					</div>
				</div>
				<div class="col-sm-6 ">
					<h3>Выбрать Товар</h3>
					<div class="layer">
						<table class="table table-bordered">
						<tr class="tableHead">
							<td>Название</td>
							<td>Свободное количество</td>
							<td>Цена</td>
						</tr>
						{% for product in Goods %}
						<tr class="product-row" id="{{product.id}}">
							<td class="product-name">{{product.Name}}</td>
							<td>{{product.FreeAmount}}</td>
							<td>{{product.Price}}</td>

						</tr>
						{% endfor %}
					</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



{% endblock %}