{% extends 'project/base.html' %}
{% load static %}
{% block content %}
<div class="container ">
	<h2>Регистрация</h2>
	<h3>Новый пользователь</h3>
	{% for error in form.non_field_errors %}
		<span class="error-message">{{ error }}</span>
	{% endfor %}
	<form method="POST" class="form-horizontal">{% csrf_token %}
            <div class="form-group">
                <label class="control-label col-sm-2" for="id_username">Логин:</label> 
                <div class="col-sm-10">{{ form.username }}</div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="id_password1">Пароль:</label> 
                <div class="col-sm-10">{{ form.password1 }}</div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="id_password2">Пароль (снова):</label> 
                <div class="col-sm-10">{{ form.password2 }}</div>
            </div>
            <div>
                <button type="submit" class="save btn btn-default">Зарегистрироваться</button>
            </div>        
<!-- 

    {{ form.as_p }}
    {% if form.error_dict %}
      <p class="error">Пожалуйста исправьте нижеприведённые ошибки.</p>
    {% endif %}

    {% if form.username.errors %}
      {{ form.username.html_error_list }}
    {% endif %}
    <label for="id_username">Логин:</label> {{ form.username }}

    {% if form.password1.errors %}
      {{ form.password1.html_error_list }}
    {% endif %}
    <label for="id_password1">Пароль:</label> {{ form.password1 }}

    {% if form.password2.errors %}
      {{ form.password2.html_error_list }}
    {% endif %}
    <label for="id_password2">Пароль (снова):</label> {{ form.password2 }} -->
    </form>

</div>

{% endblock %}